{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock extra_css %}

{% block content %}
<img class="home-logo" src="{% static 'images/tolbertcologo.png' %}" alt="">
<div class="header-container">
    <p class="header">Tolbert & Co</p>
    <p class="header-name">My name is Sean Tolbert</p>
    <p class="header-message">I am a creative full-stack developer and designer.</p>
</div>

<div class="content-container">
    
</div>

{% endblock %}