{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock extra_css %}

{% block content %}
<img class="home-logo" src="{% static 'images/tolbertcologo.png' %}" alt="">
<div class="header-container">
    <p class="header">Tolbert & Co</p>
    <p class="header-message">As a web designer and full-stack developer, we are proud to deliver mobile friendly higly customizable websites for any use-case</p>
</div>

<div class="content-container">

</div>




{% endblock %}