{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>{% block title %}{% endblock %}</title>
    
    <meta name="description" content="{# description should be 160 characters max so google can display the whole thing! #}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'images/tolbertcologo.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/tolbert_co.css' %}">
    
    {% block extra_css %}
    {% endblock %}

</head>
<body class="bg-blue-500">
    {% include 'navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
    <script src="https://unpkg.com/htmx.org@1.2.1"></script>
</body>
</html>